.container {
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fc6e00;
}

.carousel-container {
  height: 100%;
}

.carousel {
  height: 45rem;
  
  div {
    color: white;
    position: absolute;
    
    transform: translate(40%,40%);
    h2 {
      margin-left: 0.6rem;
      font-size: 3rem;
      font-weight: 400;
    }
    h1 {
      font-size: 17rem;
    }
  }
}
.carousel-img {
  position: absolute;
  width: 45rem;
  transform: translate(60%, 0);
  object-fit: cover;
  object-position: top;
  margin: auto;

  @media screen and (max-width: 1028px) {
    width: 15rem;
    height: 14rem;
  }

  @media screen and (max-width: 768px) {
    width: 10rem;
    height: 10rem;
  }
}
